header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

nav {
	    padding-right: 40px;
	    display: block;
	    
}

.logo {
	display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
}

.logo img{
	  width: 70px;
      height: 60px;
      margin-right: 12px;
}

.logo span{
	color: mediumaquamarine;

}

nav span {
	    display: inline-block;
        padding: 20px 10px;
       
       
}

.content{
	display: flex;
    width: auto;
    margin: 0 auto 78px auto;
    padding-top: 116px;
    border: 1px solid black;
    justify-content: space-around;
}

.columnlarge{
	width:630px;
	display:flex;
	 border: 1px solid black;
	 flex-direction: column;
}

.image-content{
	position:relative;
	border: 1px solid black;
    height:300px;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

.image-content span {
   font-family: Georgia;
   font-weight: bold;
   font-size: 30px;
   color: white;
   top:90px;
   position:relative;
}


.stories{
 border: 1px solid black;


}


.image-contentone{
	position:relative;
	border: 1px solid black;
	height:300px;
	display:block;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.image-contentone span{
   font-family: Georgia;
   font-weight: bold;
   font-size: 30px;
   color: white;
   position:relative;
	}

.textcontent{
	position:absolute;
}

.popculture-image-content{
	height:300px;
	background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.popculture-image-content span{
   font-family: Georgia;
   font-weight: bold;
   font-size: 30px;
   color: white;
   position:relative;
   text-align:center;
	}

.columnmedium{
	width:300px;
	display:flex;
	 border: 1px solid black;
	 flex-direction: column;
}

.columnmedium h2{
	font-size:25px;
}



.storynew {
	border: 1px solid black;
	font-size: 20px;
	
}

.storytext span{
font-size:28px;
font-weight: bold;
}

.cats {
	  font-family: Georgia;
   font-weight: bold;
   font-size: 30px;
   color: white;
   position:relative;
   text-align:center;
    height:300px;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png)
}


.columnsmall{
	width:240px;
	display:flex;
	 border: 1px solid black;
	  flex-direction: column;
}

.cookie {
border: 1px solid black;
width:100%;
}

.cookie h2 {
	border: 1px solid black;
}